@import '../../styles/layers.css';
@import '../../styles/colors.css';
@import '../../styles/typography.css';
@import '../../styles/measurements.css';

.wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--cmd-border-color);
  background-color: var(--cmd-background-color);
  z-index: var(--layer-cmd);
}

.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  flex-basis: var(--console-margin);
  font-family: var(--font-code);
  font-size: 1.125rem;
  color: var(--cmd-marker-color);
}

.inputWrapper {
  flex: 1;
  margin-right: var(--console-margin);
}

.input {
  width: 100%;
  padding: 1.1rem 0;
  outline: none;
  border: none;
  background: transparent;
  font-family: var(--font-code);
  font-size: var(--font-code-size);
  line-height: var(--font-code-line-height);
  color: var(--cmd-text-color);
  caret-color: var(--cmd-caret-color);
}
