:root {
  --teal: #4db6ac;
  --grey: #616161;
  --grey-dark: #212121;
  --grey-light: #eee;
  --ocean-light: #4fc3f7;
  --pink: #f06292;
  --salmon: #e57373;
}

:root {
  --body-background-color: var(--ocean-light);
  --cmd-background-color: var(--grey-dark);
  --cmd-border-color: var(--grey);
  --cmd-caret-color: var(--pink);
  --cmd-marker-color: var(--grey);
  --cmd-text-color: var(--grey-light);
  --cmd-placeholder-color: var(--grey);
  --console-background-color: var(--grey-dark);
  --console-title-color: var(--grey-light);
  --log-entry-id-color: var(--grey);
  --log-entry-text-color: var(--grey-light);
  --log-border-color: var(--grey);
  --scrollbar-track-color: var(--grey-dark);
  --scrollbar-thumb-color: var(--grey);
  --scrollbar-border-color: var(--grey);
}
