@import '../../styles/colors.css';
@import '../../styles/typography.css';
@import '../../styles/measurements.css';

.entries {
  margin: 0;
  margin-bottom: var(--cmd-bar-height);
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  max-width: 1000px;
  border-right: 1px solid var(--log-border-color);
}

.title {
  margin: 1rem var(--console-margin);
  font-family: var(--font-code);
  font-size: var(--font-code-size);
  font-weight: var(--font-code-weight-normal);
  line-height: 2;
  color: var(--console-title-color);
  text-transform: uppercase;
}
