:root {
  --syntax-secondary: #777;
  --syntax-primary: #cf6a4c;
  --syntax-var-type: #f9ee98;
  --syntax-attr: #8f9d6a;
  --syntax-atrule: #7587a6;
  --syntax-important: #e9c062;
  --syntax-regex: #e9c062;
}
